<div class="modal-body container">
    <div class="ng-container">
        <form >
            <div class="row">
                <div class="col-md-6">
                    <label style="cursor: pointer;">Old Password : <span
                            class="text-danger">*</span></label>
                </div>
                <div class="col-md-6">
                    <input [type]= ""
                        placeholder="Old Password" formControlName="oldPwd">
                    <span  class="eyeIcon"><i
                            
                            aria-hidden="true"></i></span>
                    <!-- <div 
                        class="failed-validation" style="color:red;">
                        Password Required
                    </div> -->
                 
                </div>


            </div>
            <br>
            <div class="row">
                <div class="col-md-6">
                    <label style="cursor: pointer;">New Password : <span
                            class="text-danger">*</span></label>



                </div>
                <div class="col-md-6">
                    <input 
                        placeholder="New Password" formControlName="newPwd"   >
                    <span  class="eyeIcon"><i
                            
                            aria-hidden="true"></i></span>
                    <!-- <div 
                        class="failed-validation" style="color:red;">
                        New Password Required
                    </div>
                    <div 
                        class="failed-validation" style="color:red">
                        Password must have One Upper,LowerCase,Alphabetic And Special Character(except # symbol)
                    </div>
                    <div 
                        class="failed-validation" style="color:red">
                        Password must have 8 characters
                    </div> -->
                </div>

            </div><br>
            <div class="row">
                <div class="col-md-6">
                    <label style="cursor: pointer;">Confirm New Password : <span
                            class="text-danger">*</span></label>



                </div>
                <div class="col-md-6">
                    <input
                        placeholder="Confirm New Password" formControlName="confirmNewPwd"   >
                    <span class="eyeIcon"><i
                             class="icon"
                            aria-hidden="true"></i></span>
                    <!-- <div 
                        class="failed-validation" style="color:red;">
                        Confirm New Password Required
                    </div>
                    <div 
                        style="color:red;">
                        Passwords Must Match
                    </div> -->
                </div>

            </div>
        </form>
    </div>

</div>

<!-- Modal footer -->
<div class="modal-footer">
    <button type="button" class="btn btn-success" data-dismiss="modal"
        >Update</button>
    <button type="button"  class="btn btn-danger" data-dismiss="modal"
        >Close</button>
</div>


