
<section class="content">
    <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Create Role'" [items]="['Setup']" [active_item]="'Create Role'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
          <div class="card ">
            <div class="body">
              <form class="m-4" [formGroup]="docForm" (ngSubmit)="onSubmit()">
                <div class="row" style="margin-left: 193px;">
                  <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 ">
                    <mat-label class="lable">Role Name</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                    
                      <input  class="inputTxt" matInput formControlName="roleName" required maxlength="45">
                      <mat-error *ngIf="docForm.get('roleName').hasError('required')">
                        Role Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                <!-- </div> -->
                <!-- <div class="row" style="margin-left: 193px;"> -->
                    <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12 " style="margin-left: 35px;height: 90%!important; ">
                      <mat-label class="lable">Remarks</mat-label>
                        <mat-form-field  class="example-full-width form-control-sm" appearance="outline" >                         
                          <textarea  class="textareaCss" class="inputTxt"  style="height: 90%!important;"  matInput formControlName="remarks" maxlength="256"></textarea>
                        </mat-form-field>
                      </div>
                </div>
                <br>
                <div class="row">
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf ="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                      style="margin-left: 38%; color: aliceblue; background-color: green;">Submit</button>

                      <button *ngIf ="edit" (click) = "update()" class="btn-space" mat-raised-button 
                      style="margin-left: 38%; color: aliceblue; background-color: green;">Update</button>

                    <button color="warn"  class="btn-space" (click) = "onCancel()" type="button" mat-raised-button >Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>