<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Wholesaler'" [items]="['Wholesaler']" [active_item]="'Add Wholesaler'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row"  >
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label class="lable">Policy Code</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input class="inputTxt" matInput formControlName="policyCode"   maxlength="20" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('policyCode').hasError('required')">
                        Policy Code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable">Wholesaler Name</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input class="inputTxt" matInput formControlName="wholesalerName"  maxlength="40" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('wholesalerName').hasError('required')">
                        Wholesaler Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable">Expiry Packet</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="expiryPacket"  maxlength="40" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('expiryPacket').hasError('required')">
                        Expiry Packet is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable">Email ID</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="emailID"  maxlength="40" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('emailID').hasError('required')">
                        Email ID is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  
                </div>
                <!--<div class="row">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                        <mat-checkbox  ngInit="checked=false" formControlName="allowOverride" style="margin-left: 4%;margin-bottom: 2%;">Allow Override</mat-checkbox>
                         <mat-error *ngIf="docForm.get('allowOverride').hasError('required')">
                          Allow Override is required
                        </mat-error> 
                      </div>
                    </div>-->
                <div class="row"  style="margin-top: -17px;">
                 
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable">Department</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input    class="inputTxt"matInput formControlName="department"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('department').hasError('required')">
                        Department is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable">Street</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="street"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('street').hasError('required')">
                        Street is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label class="lable"> City </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="city"  maxlength="25" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('city').hasError('required')">
                        City is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" >
                    <mat-label class="lable"> State </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="state"  maxlength="25" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('state').hasError('required')">
                        State is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                </div>
                <div class="row"  style=" margin-top: -17px;">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label class="lable"> Zip Code </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt"matInput formControlName="zipCode"  maxlength="5" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('zipCode').hasError('required')">
                        Zip Code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label class="lable">Phone no.</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="phoneNo"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('phoneNo').hasError('required')">
                        Phone no. is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label class="lable">Toll-free no.</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input    class="inputTxt"matInput formControlName="tollFreeNo"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('tollFreeNo').hasError('required')">
                        Toll-free no. is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12"  style="width: 20%;">
                    <mat-label class="lable"> Fax </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt" matInput formControlName="fax"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('fax').hasError('required')">
                        Fax is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label class="lable"> Contact </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <input   class="inputTxt"matInput formControlName="phone"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('phone').hasError('required')">
                        Contact is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                </div>
            <BR>
                <div class="row" > 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #47a347;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #47a347;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button"  class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

