<section class="content">
    <div class="content-block">
      <div class="block-header" style="padding: 0.5% !important;">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Manufacturer'" [items]="['Manufacturer']" [active_item]="'Add Manufacturer'">
        </app-breadcrumb>
      </div>
    
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div *ngIf="edit" class="row" style="padding-bottom: 1%;">
                    <div class="col-md-11">
                      <button class="lable" color="primary" style="background-color: #3c2f9f;" type="button" mat-raised-button>Manufacturer Info</button>&nbsp;
                      <button class="lable" color="primary" style="background-color: #70288c;" type="button" (click) = "returnPolicy()" mat-raised-button>Return Policy</button>&nbsp;			
                    </div>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Name</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                      
                      <input class="inputTxt" matInput formControlName="manufacturerName"   maxlength="40" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('manufacturerName').hasError('required')">
                        Name is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Link To</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                    
                      <input class="inputTxt" matInput formControlName="linkTo"   maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('linkTo').hasError('required')">
                        Link To is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Bill To</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                                       
                      <input class="inputTxt" matInput formControlName="billTo"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('billTo').hasError('required')">
                        Bill To is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Return Service</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="returnService"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('returnService').hasError('required')">
                        Return Service is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                 
                  
                </div>
           
                <div class="row" style="margin-top:-21px;">
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable"> Contact </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="contact"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('contact').hasError('required')">
                        Contact is required
                      </mat-error>
                    </mat-form-field>
                  </div>

                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Email ID</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="emailId"  maxlength="40" (keypress)="keyPressEmail($event)" required>
                      <mat-error *ngIf="docForm.get('emailId').hasError('required')">
                        Email ID is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Department</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                    
                      <input  class="inputTxt" matInput formControlName="departmentName"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('departmentName').hasError('required')">
                        Department is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable">Street</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="streetName"  maxlength="30" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('streetName').hasError('required')">
                        Street is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                </div>
                <div class="row"  style="margin-top: -21px;">
                  
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable"> City </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                      
                      <input class="inputTxt" matInput formControlName="cityName"  maxlength="25" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('cityName').hasError('required')">
                        City is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12">
                    <mat-label  class="lable"> State </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                      
                      <input class="inputTxt" matInput formControlName="stateName"  maxlength="25" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('stateName').hasError('required')">
                        State is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label  class="lable"> Zip Code </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                      
                      <input class="inputTxt" matInput formControlName="zipCode"  maxlength="5" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('zipCode').hasError('required')">
                        Zip Code is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                    <mat-label  class="lable">Phone no.</mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="phoneNo"  maxlength="15" (keypress)="keyPressName($event)" required>
                      <mat-error *ngIf="docForm.get('phoneNo').hasError('required')">
                        Phone no. is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                 
                </div>
              
                <div class="row"  style="margin-top: -21px;">
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                  <mat-label  class="lable">Toll-free no.</mat-label>
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">                    
                    <input class="inputTxt" matInput formControlName="tollFreeNo"  maxlength="15" (keypress)="keyPressName($event)" required>
                    <mat-error *ngIf="docForm.get('tollFreeNo').hasError('required')">
                      Toll-free no. is required
                    </mat-error>
                  </mat-form-field>
                </div>
                <div class="col-xl-3 col-lg-3 col-md-12 col-sm-12" style="width: 20%;">
                  <mat-label  class="lable"> Fax </mat-label>
                  <mat-form-field class="example-full-width form-control-sm" appearance="outline">                   
                    <input class="inputTxt" matInput formControlName="fax"  maxlength="15" (keypress)="keyPressName($event)" required>
                    <mat-error *ngIf="docForm.get('fax').hasError('required')">
                      Fax is required
                    </mat-error>
                  </mat-form-field>
                </div>
              </div>
                <div class="row"> 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #47a347;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #47a347;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

