<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'DebitMemo'" [items]="['Set up']" [active_item]="'DebitMemo List'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        
          
      <div class="body">
        <form class="m-1" [formGroup]="docForm">
          <div class="col-xl-12" >
            <div class="card" style="width:100%; height: 10%;">
              <div class="row" style="margin-left: 3%;margin-top: 1%;">
            
               <div class="col-xl-3" >
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Company Name</mat-label>
                      <mat-select  formControlName="company">
                        <mat-option *ngFor="let title of companyList" [value]="title.id">
                          {{title.text}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
              </div>
             
             
              <div class="col-xl-3">
                <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                  <mat-label>Debit Memo No</mat-label>
                      <mat-select  formControlName="returnMemoNo">
                        <mat-option *ngFor="let title of debitMemoList" [value]="title.id">
                          {{title.id}}
                        </mat-option>
                      </mat-select>
                </mat-form-field>
              </div>
          
        

          <div class="col-xl-3 example-full-width  form-control-sm">
            <button (click) = "searchData()" class="btn-space" mat-raised-button
            color="accent" style="background-color: #34d034;">Search</button>
          
        </div>

        <div style="text-align: right;" class="col-xl-3 example-full-width  form-control-sm right">
          <button (click) = "returnMemo()" class="btn-space" mat-raised-button
          color="accent" style="background-color: #2704a7;">Create New Return</button>
        
      </div>
      
      </div>
        
          </div>
        </div>
        </form>
      </div>
    
 
</div>
</div>
<div class="row">
  <div class="col-md-12">
      <div class="table-responsive-sm">
          <table class="table table-bordered table-hover">
              <thead class="theadRow thead-light">
                  <tr>
                      <th>Company</th>
                      <th>Return Memo Date</th>
                      <th>Return Memo Name</th>
                      <th>Return Memo No</th>
                      <th>Actions</th>
                  </tr>
              </thead>
              <tbody>
                  <ng-container *ngFor="let item of listDebitMemo">
                  <tr>
                      <td> {{item.company !== null ? item.company:'-'}}</td>
                      <td> {{item.returnMemoDate !== null ? item.returnMemoDate:'-' | date:'dd-MM-yyyy HH:mm a' }}</td>
                      <td> {{item.returnMemoName !== null ? item.returnMemoName:'-'}}</td>
                      <td> {{item.returnMemoNo !== null ? item.returnMemoNo:'-'}}</td>
                      <td style="text-align: center;" >
                        	
                        <i class="fas fa-arrow-right" title="Return Items" style="color:#74AEB5" (click)='editStaffDetails(1)'></i>
                        <!-- <i class="fas fa-edit" title="Edit" style="color:#74AEB5" (click)='editStaffDetails(1)'></i>&nbsp;&nbsp;
                        <i class="fas fa-eye" title="View" style="color:#74AEB5" (click)='viewStaffDetails(1)'></i> -->
                    </td>
                  </tr>
              </ng-container>
              </tbody>
          </table>
      </div>
  </div>
</div>
  </div>
  </section>