<section class="content">
    <div class="content-block">
      <div class="block-header">
        <h6 class="headingValue"> Return Item Details </h6>
        <div style="border-top: 1px solid purple"></div>

      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div>
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row">
                  <div  class="col-md-2">
                    <mat-label class="lable">Return </mat-label>
                    </div>
                  <div class="col-md-10">
                    <input type="text" class="form-control" formControlName="return" readonly>       
                  </div>
                  </div>
                <div class="row" style="margin-top: 1%;">
                  <div  class="col-md-2">
                    <mat-label class="lable">NDC/UPC <span class="errorColor">*</span> </mat-label>
                    </div>
                    <div *ngIf="defaultNDCUPC" class="col-md-4">

                      <input type="text" class="form-control" formControlName="ndcupcCode"  maxlength="20">
                     <mat-error *ngIf="submitted && docForm.get('ndcupcCode').hasError('required')">
                      NDC/UPC is required
                      </mat-error>  
                      
                  </div>
                  <div *ngIf="greenNDCUPC" class="col-md-4">

                    <input style="background-color: green;color:whitesmoke;" type="text" class="form-control" formControlName="ndcupcCode"  maxlength="20">
                   <mat-error *ngIf="submitted && docForm.get('ndcupcCode').hasError('required')">
                    NDC/UPC is required
                    </mat-error>  
                    
                </div>  
                  <div *ngIf="redNDCUPC" class="col-md-4">

                      <input style="background-color: red;color:whitesmoke;" type="text" class="form-control" formControlName="ndcupcCode"  maxlength="20">
                     <mat-error *ngIf="submitted && docForm.get('ndcupcCode').hasError('required')">
                      NDC/UPC is required
                      </mat-error>  
                      
                  </div>
                  <div  class="col-md-2">
                  <button color="primary" type="button" class="btn-space" mat-raised-button (click)="findAllDetailsByndcupcCode()"  >Find</button>
                  </div>
                  <div *ngIf="defaultNDCUPC" class="col-md-4">
                    <input type="text" class="form-control" formControlName="description" readonly  >
                </div>
                <div *ngIf="greenNDCUPC" class="col-md-4">
                  <input type="text" style="background-color: green;color:whitesmoke" class="form-control" formControlName="description" readonly  >
              </div>
                  <div *ngIf="redNDCUPC" class="col-md-4">
                      <input type="text" style="background-color: red;color:whitesmoke" class="form-control" formControlName="description" readonly  >
                  </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Unit/Package </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="unitPackage"  readonly >
                    </div>
                    <div  class="col-md-2">
                      <mat-label class="lable">Control No </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="controlNo"  readonly >
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Package Size </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="packageSize"  readonly >
                    </div>
                    <div  class="col-md-2">
                      <mat-label class="lable">Available Via</mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="availableVia"  readonly >
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Strength </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="strength"  readonly maxlength="20">
                    </div>
                    <div  class="col-md-2">
                      <mat-label class="lable">Estimated Value </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="estimatedValue"  readonly maxlength="20">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Dosage </mat-label>
                      </div>
                    <div class="col-md-10">
                        <input type="text" class="form-control" formControlName="dosage"  readonly maxlength="20">
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Manufacturer </mat-label>
                      </div>
                    <div class="col-md-10">
                     
                        <select disabled tabindex="9" class="form-control" formControlName="manufacturerBy">
                            <option value="" selected disabled >---Select---</option>
                            <option *ngFor="let title of manufacturerList" [value]="title.id">
                                {{title.text}}</option>
                        </select>
                    
                    </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Return To</mat-label>
                      </div>
                    <div class="col-md-10">
                      <select tabindex="9" class="form-control" formControlName="returnTo">
                          <option value="" selected disabled >---Select---</option>
                          <option *ngFor="let title of manufacturerList" [value]="title.id">
                              {{title.text}}</option>
                      </select>
                  
                  </div>
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Price <span class="errorColor">*</span> </mat-label>
                      
                    </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="price"   maxlength="20">
                        <mat-error *ngIf="submitted && docForm.get('price').hasError('required')">
                          price is required
                      </mat-error>  
                      </div>
               
                    <div  class="col-md-2">
                      <mat-label class="lable">Quantity <span class="errorColor">*</span> </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="quantity"   maxlength="20">
                        <mat-error *ngIf="submitted && docForm.get('quantity').hasError('required')">
                          quantity is required
                      </mat-error> 
                      </div>
                    
                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Item No </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="itemNo"  readonly >
                    </div>
                    <div  class="col-md-2">
                      <mat-label class="lable">Exp Date <span class="errorColor">*</span> </mat-label>
                     
                    </div>
                    <div class="col-md-4">
                        <input type="date" class="form-control" formControlName="expDate" >
                        <mat-error *ngIf="submitted && docForm.get('expDate').hasError('required')">
                          Exp Date is required
                      </mat-error>   
                      </div>

                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Reason <span class="errorColor">*</span> </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="reason" maxlength="20">
                        <mat-error *ngIf="submitted && docForm.get('reason').hasError('required')">
                          Reason is required
                      </mat-error>
                      </div>
                    <div  class="col-md-2">
                      <mat-label class="lable">Lot No <span class="errorColor">*</span> </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="lotNo" maxlength="20">
                        <mat-error *ngIf="submitted && docForm.get('lotNo').hasError('required')">
                          lot No is required
                      </mat-error> 
                      </div>

                  </div>
                  <div class="row" style="margin-top: 1%;">
                    <div  class="col-md-2">
                      <mat-label class="lable">Entry No </mat-label>
                      </div>
                    <div class="col-md-4">
                        <input type="text" class="form-control" formControlName="entryNo" readonly >
                    </div>
                  
                    <div class="col-md-3">
                      <p><input type="checkbox"  formControlName="returnable" disabled>&nbsp; <b>Returnable</b></p>
                    </div>
                  </div>         
                  <div class="row" style="margin-top: 2%;" >
                    <div class="col-md-3">
                     
                      <mat-radio-group formControlName="fullParticalProduct" style="margin-left: 4%;margin-top: 4%;" (click)="checkDrugIsReturnable()">
                        <mat-radio-button  value="true" >Full Quantity</mat-radio-button>
                        <mat-radio-button  value="false">Number of</mat-radio-button>
                      </mat-radio-group>
                      <mat-error style="margin-left: 4%;margin-top: 4%;" *ngIf="submitted && docForm.get('fullParticalProduct').hasError('required')">
                        Full or Partical Quantity is required
                    </mat-error> 

                    </div>
                    <div class="col-md-3">
                      <p><input type="checkbox" (click)="repackagedProduct()" formControlName="repackagedProduct" style="margin-bottom: 14%;">&nbsp; <b>Repackaged Product</b></p>
                    </div>
                  </div>    
<br>
                <div class="row"> 
                  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 mb-3">
                    <button (click) = "onCalculator()" color="primary" type="button" class="btn-space" mat-raised-button>Calculator</button>
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click) = "update()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                    <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" class="btn-space"  (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>
