<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add Manufacturer'" [items]="['Manufacturer']" [active_item]="'Add Manufacturer'">
        </app-breadcrumb>
      </div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row" style="padding-bottom: 1%;margin-top:-21px;">
                  <div class="col-md-9"></div>
                  <div class="col-md-3">
                    <button class="lable" color="primary" style="background-color: #3c2f9f;" type="button" (click) = "manufacturer()" mat-raised-button> Manufacturer Info</button>&nbsp;
                   &nbsp;
                    <button class="lable" color="primary" style="background-color: #70288c;" type="button" mat-raised-button>Return Policy</button>&nbsp;			
                  </div>
                </div>
                <div class="row" style="margin-left: 30%;margin-top:-20px;">
                  <div class="col-md-4">
                    <mat-label class="lable">Number of months before expiration </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                     
                      <input class="inputTxt" matInput formControlName="noMonthsBeforeExpiration"   maxlength="15" (keypress)="keyPressNumberInt($event)" required>
                      <mat-error *ngIf="docForm.get('noMonthsBeforeExpiration').hasError('required')">
                        Number of months before expiration is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-label class="lable">  Number of months after expiration </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                    
                      <input class="inputTxt" matInput formControlName="noMonthsAfterExpiration" maxlength="15" (keypress)="keyPressNumberInt($event)" required>
                      <mat-error *ngIf="docForm.get('noMonthsAfterExpiration').hasError('required')">
                        Number of months after expiration is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                  <div class="row" style="margin-left: 30%;margin-top:-25px;">
                    
                  <div class="col-md-2">
                    <mat-label class="lable" style="margin-left: 4%;margin-top: 2%;white-space: nowrap;">Accept returns</mat-label><br>
                    <br>
                    <mat-radio-group formControlName="acceptReturns" style="margin-left: 4%;margin-top: 2%;">
                      <mat-radio-button value="true" >Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="docForm.get('acceptReturns').hasError('required')">
                      Accept returns is required
                    </mat-error> -->
                  </div>
                  <div class="col-md-2">
                    <mat-label class="lable"style="margin-left: 4%;margin-top: 2%;white-space: nowrap;"> Accept partial returns </mat-label><br>
                    <br>
                    <mat-radio-group formControlName="acceptPartialReturns" style="margin-left: 4%;margin-top: 2%;">
                      <mat-radio-button value="true" >Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="docForm.get('acceptPartialReturns').hasError('required')">
                      Accept partial returns is required
                    </mat-error> -->
                  </div>
             
 
                <div class="col-md-4">
                  <mat-label class="lable"> Accept percentage </mat-label>
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">                      
                      <input class="inputTxt" matInput formControlName="acceptpercentage"  maxlength="15" (keypress)="keyPressNumberDouble($event)" required>
                      <mat-error *ngIf="docForm.get('acceptpercentage').hasError('required')">
                        Accept percentage is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <div class="row" style="margin-left: 30.5%;margin-top:-27px;">
                  <div class="col-xl-2 col-lg-2 col-md-12 col-sm-12">
                    <form [formGroup]="packageoriginalityForm">      
                      <section class="example-section">
                        <p><mat-checkbox formControlName="checkPackageOriginality">Check package originality</mat-checkbox></p>
                       
                    </section>
                    </form>
                  </div>
                </div>
                <br>
                <div class="row" style="margin-left: 10%;margin-top:-21px;">

                  <div class="col-md-12">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #195f19;">Submit</button>
                    <button *ngIf="edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #195f19;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

