<section class="content">
    <div class="content-block">
      <div class="block-header">
        <!-- breadcrumb -->
        <app-breadcrumb [title]="'Add DrugInfo'" [items]="['DrugInfo']" [active_item]="'Add DrugInfo'">
        </app-breadcrumb>
      </div>
      <div *ngIf="edit" class="row" style="padding-bottom: 1%;">
				<div class="col-md-11">
					<button class="btn btn-primary" type="button" (click) = "drugInfo()">Drug Info</button>&nbsp;
					<button class="btn btn-info" type="button" >Return Policy</button>&nbsp;			
				</div>
			</div>
      <div class="row clearfix ">
        <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <div class="box-shadow">
          <div class="card">
            <div class="body">
              <form class="m-4" [formGroup]="docForm">
                <div class="row" style="margin-left: 30%;">
                  <div class="col-md-4">

                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label>Number of months before expiration </mat-label>
                      <input matInput formControlName="noMonthsBeforeExpiration"   maxlength="15" (keypress)="keyPressNumberInt($event)" required>
                      <mat-error *ngIf="docForm.get('noMonthsBeforeExpiration').hasError('required')">
                        Number of months before expiration is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                  <div class="col-md-4">
                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label> Number of months after expiration </mat-label>
                      <input matInput formControlName="noMonthsAfterExpiration" maxlength="15" (keypress)="keyPressNumberInt($event)" required>
                      <mat-error *ngIf="docForm.get('noMonthsAfterExpiration').hasError('required')">
                        Number of months after expiration is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                  <div class="row" style="margin-left: 30%;">
                    
                  <div class="col-md-2">
                    <mat-label style="margin-left: 4%;margin-top: 2%;white-space: nowrap;">Accept returns</mat-label><br>
                    <mat-radio-group formControlName="acceptReturns" style="margin-left: 4%;margin-top: 2%;">
                      <mat-radio-button value="true" >Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="docForm.get('acceptReturns').hasError('required')">
                      Accept returns is required
                    </mat-error> -->
                  </div>
                  <div class="col-md-2">
                    <mat-label style="margin-left: 4%;margin-top: 2%;white-space: nowrap;"> Accept partial returns </mat-label><br>
                    <mat-radio-group formControlName="acceptPartialReturns" style="margin-left: 4%;margin-top: 2%;">
                      <mat-radio-button value="true" >Yes</mat-radio-button>
                      <mat-radio-button value="false">No</mat-radio-button>
                    </mat-radio-group>
                    <!-- <mat-error *ngIf="docForm.get('acceptPartialReturns').hasError('required')">
                      Accept partial returns is required
                    </mat-error> -->
                  </div>
             
 
                <div class="col-md-4">

                    <mat-form-field class="example-full-width form-control-sm" appearance="outline">
                      <mat-label> Accept percentage </mat-label>
                      <input matInput formControlName="acceptpercentage"  maxlength="15" (keypress)="keyPressNumberDouble($event)" required>
                      <mat-error *ngIf="docForm.get('acceptpercentage').hasError('required')">
                        Accept percentage is required
                      </mat-error>
                    </mat-form-field>
                  </div>
                </div>
                <br>
                <div class="row" style="margin-left: 10%;">

                  <div class="col-md-12">
                    <button *ngIf="!edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Submit</button>
                    <button *ngIf="edit" (click) = "onSubmit()" class="btn-space" mat-raised-button
                    color="accent" style="margin-left: 36%;background-color: #34d034;">Update</button>
                      <button color="primary" type="button" class="btn-space" (click)="reset()" mat-raised-button>Reset</button>
                    <button color="warn" type="button" (click)="onCancel()" mat-raised-button>Cancel</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
        </div>
      </div>
    </div>
  </section>

